<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript"  src="{% static 'zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'zepto.cookie.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pure-min.css' %}" />
    <style type="text/css">
        #side {
            padding:20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="pure-g" style="background-color: #333;color: #DDD;">
        <div class="pure-u-1-2">
            {% block topleft %}
                <img src="{% static 'er.png' %}" />
            {% endblock %}
        </div>
        <div class="pure-u-1-2">
            {% block topright %}
            {% endblock %}
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-24-24">
            {% block top %}{% endblock %}
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-3-24">
            <div id="side">
                {% block side %}{% endblock %}
            </div>
        </div>
        <div class="pure-u-21-24">
            {% block main %}{% endblock %}
        </div>
    </div>

    <div class="pure-g"  style="background-color: #000;color: #CCC;">
        <div class="pure-u-24-24" style="text-align:center;">
            <p>copyright 版权所有</p>
            <p>技术支持：盟友公司</p>
        </div>
    </div>
    {% csrf_token %}
{% block scpt %} {% endblock %}
</body>
</html>