{% extends 'inbase_smpl.html' %}
{% load static %}
{% block main %}
  <table class="pure-table pure-table-bordered" style="margin: 0 auto;">
      <tr>
          <td>作品概览</td>
          <td>作品主题</td>
          <td>作品简介</td>
          <td>上传者</td>
          <td>所属盟团</td>
      </tr>
      {% for hw in hws%}
          <tr>
              <td>
                {%if hw.file_path%}
                <img style="width: 4em;" src="{%static hw.file_path%}" />
                {%endif%}
              </td>
              <td>
                <a href="{%url 'display'%}?id={{hw.id}}" target="_blank">{{hw.title}}</a>
                {%if hw.score >= 10 %}
                <img width="40px" src="{%static 'hot.png'%}" />
                {%endif%}
              </td>
              <td>{{hw.info}}</td>
              <td>{{hw.owner.name}}</td>
              <td>
              {%if hw.in_union%}
              <a target="" href="{%url 'get_handwrts_union' hw.in_union.id 1%}">{{hw.in_union.name}}</a>
              {%endif%}
              </td>
          </tr>
      {% endfor %}
  </table>
<div style="width: 400px; margin: 0 auto; text-align: right;">
{%if 1 not in page_nums%}
<a href="{%url page_name 1%}{{get_params}}">首页</a>
{%endif%}
{%for page_num in page_nums%}
    {%if page_num == page%}
        第{{page_num}}页
    {%else%}
        <a href="{%url page_name page_num%}{{get_params}}">第{{page_num}}页</a>
    {%endif%}
{%endfor%}
{%if num_pages not in page_nums%}
<a href="{%url page_name num_pages%}{{get_params}}">末页</a>
{%endif%}

</div>

{% endblock %}