{% extends 'inbase_smpl.html' %}
{% load static %}
{% block main %}
  <table class="pure-table pure-table-bordered" style="margin: 0 auto;">
      <tr>
          <td>作品主题</td>
          <td>作品简介</td>
          <td>上传者</td>
          <td>上传时间</td>
          <td>所属盟团</td>
      </tr>
      {% for hw in hws%}
          <tr>
              <td>
                <a href="{%url 'display'%}?id={{hw.id}}" target="_blank">{{hw.title}}</a>
                {%if hw.score >= 10 %}
                <img width="40px" src="{%static 'hot.png'%}" />
                {%endif%}
              </td>
              <td>{{hw.info}}</td>
              <td>{{hw.owner.name}}</td>
              <td>{{hw.create_date}}</td>
              <td>
              {%if hw.in_union%}
              <a target="_blank" href="{%url 'get_handwrts_union' hw.in_union.id %}">{{hw.in_union.name}}</a>
              {%endif%}
              </td>
          </tr>
      {% endfor %}
  </table>
{% endblock %}