<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript"  src="{% static 'zepto.min.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" />
    {% block scrpt %}{% endblock %}
</head>
<body>
    <div class="pure-g" style="padding-top: 30px;">
        <div class="pure-u-1-1">
            {% block main %}{% endblock %}
        </div>
    </div>
</body>
</html>