{% extends 'base.html' %}

{% block title %}首页{% endblock %}
{%block topright%}
    <div>
        {%if username%}
        <h3 id="username">欢迎你：<span id="current_user">{{username}}</span><button id="logout" class="pure-button pure-button-primary">注销</button></h3>
        {%else%}
        <a class="pure-button pure-button-primary" id="login_btn" href="javascript:void(0);">登录</a><button class="pure-button pure-button-primary" id="signup">注册</button>
        <h3 style="display: none;" id="username">欢迎你：
            <span id="current_user">{{username}}</span>
            <button class="pure-button pure-button-primary" id="logout">注销</button>
        </h3>
        {%endif%}
    </div>
{%endblock%}
{% block top %}
    <div class="pure-g" style="background-color: #333;">
        <div  class="pure-u-10-24" style="text-align: right;">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    {%for menu,menu_ches in menus.items%}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="javascript:void(0);" ccid="{{menu.0}}" id="menuLink{{menu.0}}" class="pure-menu-link menu_link_cc">{{menu.1}}</a>
                        <ul class="pure-menu-children">
                        {%for menu_ch in menu_ches%}
                            <li class="pure-menu-item"><a href="javascript:void(0);" ccid="{{menu_ch.0}}" class="pure-menu-link menu_link_cc">{{menu_ch.1}}</a></li>
                        {%endfor%}
                        </ul>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>

        <div  class="pure-u-7-24" style="text-align: left;">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a csid="0" href="javascript:void(0);" class="pure-menu-link menu_link_cs">书法资料</a></li>
                    <li class="pure-menu-item"><a csid="1" href="javascript:void(0);" class="pure-menu-link menu_link_cs">名家书法</a></li>
                    {%if utype == '0'%}
                    <li class="pure-menu-item home_page"><a href="{%url 'mgr'%}" class="pure-menu-link">我的主页</a></li>
                    {%elif utype == '1'%}
                    <li class="pure-menu-item home_page"><a href="{%url 'union_owner_mgr'%}" class="pure-menu-link">我的主页</a></li>
                    {%elif utype == '2'%}
                    <li class="pure-menu-item home_page"><a href="{%url 'personal'%}" class="pure-menu-link">我的主页</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div  class="pure-u-6-24">
            <form class="pure-form" >
                <input id="key" type="text" name="key" placeholder="检索关键字" />
                <button id="search"  type="button" class="pure-button pure-button-primary">综合标题检索</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block side %}
    <style type="text/css">
        .pure-menu-link {
            color: red;
        }
    </style>
    <div class="pure-menu custom-restricted-width" style="background-color: #666;border-radius: 4px;">
        <ul class="pure-menu-list">
            {% for cw in cws %}
            <li class="pure-menu-item"><a cwid={{cw.id}} href="javascript:void(0);" class="pure-menu-link menu_link">{{cw.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block main %}
<iframe id="frame_main" src="" style="width: 100%;min-height:700px;border:0;"></iframe>
<script type="text/javascript">
    $(function(){
        $('body').on('click','.menu_link',function(){
            $('#frame_main').attr('src',"{%url 'get_handwrt_writes' 1%}?id="+$(this).attr('cwid'));
        });
        $('body').on('click','.menu_link_cc',function(){
            $('#frame_main').attr('src',"{%url 'get_handwrt_contents' 1%}?id="+$(this).attr('ccid'));
        });
         $('body').on('click','.menu_link_cs',function(){
            $('#frame_main').attr('src',"{%url 'get_handwrt_category_supers' 1%}?id="+$(this).attr('csid'));
        });
         $('body').on('click','#search',function(){
            $('#frame_main').attr('src',"{%url 'search' 1%}?key="+$('#key').val());
        });
        $('body').on('click','#logout',function(){
            $.fn.cookie('username', '000', { expires: -1, path:'/' });
            $.fn.cookie('userid', '000', { expires: -1, path:'/' });
            $.fn.cookie('utype', '000', { expires: -1, path:'/' });
            window.location.href="{%url 'helo'%}";
        });
         $('body').on('click','#signup',function(){
            window.location.href="{%url 'register'%}";
        });
   });
</script>
{% endblock %}


{% block scpt %}
<script type="text/javascript">
$(function(){
    
    function createLoginArea() {

        var field = $('<fieldset />');

        field.css({
            position:'absolute',
            width:'60vmin',
            height:'40vmin',
            border: '1px solid #61B5CF',
        });
        field.css('border-radius','1vmin');

        var legend = $('<legend />');
        legend.text("登陆");
        var ul = $('<ul />');
        ul.css('list-style','none');
        ul.css('text-align','center');
        ul.css({
            width: '100%',
            height: '100%',
            margin: '0',
            display: 'inline'
        }).css('padding-top', '5%')
            .css('box-sizing', 'border-box');

        var nameLi = $('<li />',{class:'loginLi'});
        var nameDiv=$('<div />',{class:'textDiv'});
        nameDiv.text("用户名");
        var nameInput=$('<input />',{class:"input",type:"text",placeholder:"请输入用户名"});
        nameLi.append(nameDiv);
        nameLi.append(nameInput);
        var passwordLi = $('<li />',{class:'loginLi'});
        var passWordDiv=$('<div />',{class:'textDiv'});
        passWordDiv.text("密码");
        var passWordInput=$('<input />',{class:"input",type:"password",placeholder:"请输入密码"});
        passwordLi.append(passWordDiv);
        passwordLi.append(passWordInput);

        var submitLi = $('<li />',{class:'loginLi'});
        var submitBtn = $('<input />', {type: 'submit', value: '登陆', id:'login'});
        var cancelBtn = $('<input />', {type: 'reset', value: '取消', id:'cancel'});
        var stateLi = $('<li />',{class:'loginLi'});
        submitLi.append(submitBtn);
        submitLi.append(cancelBtn);
        ul.append(nameLi);
        ul.append(passwordLi);
        ul.append(submitLi);
        ul.append(stateLi);
        legend.appendTo(field);
        ul.appendTo(field);
        field.appendTo($('body'));



        $('.loginLi').css({
            width: '80%',
            height: '25%',
            padding: '0',
            margin: '0'
        }).css('text-align', 'left')
            .css('line-height', '9vmin');
        stateLi.css('text-align', 'center');
        submitLi.css('text-align', 'center');
        $('.input').css({
            position: 'relative', float: 'left', width: '60%',
            height: '80%'
        }).css('margin-left','1%');
        $('.textDiv').css({
            position: 'relative', float: 'left', width: '35%',
            height: '80%'
        }).css('text-align', 'right');
        stateLi.css('height','20%');
        stateLi.css('color','red');
        //设置界面位置
        var body=$('body');
        field.css({
            top:'20vmin',
            left:parseInt((body.width()-field.width())/2)
        });

        field.css('background-color','#DDD');
        var token = $("input[name='csrfmiddlewaretoken']").val();
        submitLi.on('click', '#cancel',function(){
            field.hide();
        });
        //上传事件
        submitLi.on('click', '#login', function () {
            $.ajax({
                type: 'POST',
                url: '{%url "login"%}',//提交的地址
                data: {name:nameInput.val(),password:passWordInput.val(),csrfmiddlewaretoken:token},
                dataType: 'json',
                timeout: 3000,
                context: $('body'),
                success: function (data) {
                    if (data['status'] == 1) {
                        stateLi.text('登录失败！');
                    }else{
                    // field.hide();
                    //  $('#login_btn').hide();
                    //  $('#signup').hide();
                    // $('#username').show();
                    // $('#current_user').text(nameInput.val());
                    window.location.href="{%url 'helo'%}";
                    }
                },
                error: function (xhr, type) {
                    stateLi.text("上传失败");
                }
            })
        });

    };
    $('body').on('click','#login_btn',function(){
        createLoginArea();
    });

   });

</script>
{% endblock %}