{% extends 'base.html' %}

{% block title %}网站管理{% endblock %}

{% block topright %}<h3>欢迎来到超管页面！</h3>{% endblock %}

{% block side %}
    <style type="text/css">
        .pure-menu-link {
            color: red;
        }
    </style>
    <div class="pure-menu custom-restricted-width" style="background-color: #666;border-radius: 4px;">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a id="unionmgr" href="javascript:void(0);" class="pure-menu-link">管理盟团</a></li>
            <li class="pure-menu-item"><a id="usermgr" href="javascript:void(0);" class="pure-menu-link">管理用户</a></li>
            <li class="pure-menu-item"><a id="category" href="javascript:void(0);" class="pure-menu-link">标签设置</a></li>
            <li class="pure-menu-item"><a id="handwrt_mgr" href="javascript:void(0)" class="pure-menu-link">作品管理</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}
<iframe id="frame_main" src="{%url 'union_mgr' 1%}" style="width: 100%;min-height:700px;border:0;"></iframe>
<script type="text/javascript">
    $(function(){
        $('body').on('click','#unionmgr',function(){
            $('#frame_main').attr('src','{%url "union_mgr" 1%}');
        });
        $('body').on('click','#category',function(){
            $('#frame_main').attr('src','{%url "category_mgr"%}');
        });
        $('body').on('click','#usermgr',function(){
            $('#frame_main').attr('src','{%url "user_mgr" 1%}');
        });
        $('body').on('click','#handwrt_mgr',function(){
            $('#frame_main').attr('src','{%url "handwrt_mgr"%}');
        });
    });
</script>
{% endblock %}
