{% extends 'base.html' %}

{% block title %}我的主页{% endblock %}

{% block top %}欢迎你！{% endblock %}

{% block side %}
    <style type="text/css">
        .pure-menu-link {
            color: red;
        }
    </style>
    <div class="pure-menu custom-restricted-width">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a id="my_info" href="javascript:void(0);" class="pure-menu-link">我的信息</a></li>
            <li class="pure-menu-item"><a id="my_handwrt" href="javascript:void(0);" class="pure-menu-link">我的作品</a></li>
            <li class="pure-menu-item"><a id="union_request" href="javascript:void(0);" class="pure-menu-link">建立盟团</a></li>
            <li class="pure-menu-item"><a id="edit_user" href="javascript:void(0);" class="pure-menu-link">修改信息</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}
<iframe id="frame_main" src="{%url 'user_info'%}" style="width: 100%;min-height:700px;border:0;"></iframe>
<script type="text/javascript">
    $(function(){
        $('body').on('click','#my_info',function(){
            $('#frame_main').attr('src','{%url 'user_info'%}');
        });
        $('body').on('click','#my_handwrt',function(){
            $('#frame_main').attr('src','{%url 'person_handwrt_mgr' 1%}');
        });
        $('body').on('click','#union_request',function(){
            $('#frame_main').attr('src','{%url 'union_reg'%}');
        });
        $('body').on('click','#edit_user',function(){
            $('#frame_main').attr('src','{%url 'edit_user'%}');
        });
    });
</script>
{% endblock %}
