{% extends 'base.html' %}

{% block title %}盟团管理{% endblock %}

{% block top %}欢迎盟主！{% endblock %}

{% block side %}
    <style type="text/css">
        .pure-menu-link {
            color: red;
        }
    </style>
    <div class="pure-menu custom-restricted-width">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a id="union_info" href="javascript:void(0);" class="pure-menu-link">盟团信息</a></li>
            <li class="pure-menu-item"><a id="handwrt_mgr" href="javascript:void(0);" class="pure-menu-link">作品管理</a></li>
            <li class="pure-menu-item"><a id="usermgr" href="javascript:void(0);" class="pure-menu-link">管理用户</a></li>
<!--             <li class="pure-menu-item"><a href="#" class="pure-menu-link">反馈管理</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">封面管理</a></li>
 -->        </ul>
    </div>
{% endblock %}

{% block main %}
<iframe id="frame_main" src="" style="width: 100%;min-height:700px;border:0;"></iframe>
<script type="text/javascript">
    $(function(){
        $('body').on('click','#union_info',function(){
            $('#frame_main').attr('src','{%url 'union_info'%}');
        });
        $('body').on('click','#handwrt_mgr',function(){
            $('#frame_main').attr('src','{%url 'handwrt_mgr' 1%}');
        });
        $('body').on('click','#usermgr',function(){
            $('#frame_main').attr('src','{%url "user_mgr" 1%}');
        });
    });
</script>
{% endblock %}
