{% extends 'inbase_smpl.html' %}

{% block main %}
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
    {%if union%}
    <h3>你已经建立盟团：{{union.name}}</h3>
    {%else%}
    <form action="{% url 'union_reg'%}" method="post"  class="pure-form pure-form-stacked">
        {% csrf_token %}
        <fieldset>
            <label for="name">盟团名称</label>
            <input id="name" type="text" name="name" value="" placeholder="盟团名称" />
            <label for="content">盟团简介</label>
            <textarea id="content" name="content"></textarea>
            <input type="submit" value="确定" class="pure-button pure-button-primary" />
        </fieldset>
    </form>
    {% endif %}

{% endblock %}