{% extends 'inbase_smpl.html' %}

{% block main %}
<table class="pure-table pure-table-bordered" style="margin: 0 auto;">
    <tr>
        <td>盟团名</td>
        <td>盟团简介</td>
        <td>盟团主人</td>
        <td>盟团状态</td>
        <td>执行操作</td>
    </tr>
    {% for union in unions%}
        <tr>
            <td>{{union.name}}</td>
            <td>{{union.content}}</td>
            <td>{{union.owner.name}}</td>
            <td>{{union.status}}</td>
            <td>
                <form action="{% url 'union_mgr' page%}" method="post">
                    {% csrf_token %}
                    <select name="operation">
                        <option style='display: none'></option>
                        <option value="0">通过</option>
                        <option value="1">警告</option>
                        <option value="2">冻结</option>
                    </select>
                    <input type="text" name="reason" value="" placeholder="警告理由" />
                    <input name="id" type="hidden" value="{{union.id}}" />
                    <input type="submit" value="确定" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{%for page_num in page_nums%}
    {%if page_num == page%}
        第{{page_num}}页
    {%else%}
        <a href="{%url 'union_mgr' page_num%}">第{{page_num}}页</a>
    {%endif%}
{%endfor%}

{% endblock %}