{% extends 'inbase_smpl.html' %}

{% block main %}
<table class="pure-table pure-table-bordered"  style="margin: 0 auto;">
    <tr>
        <td>用户名</td>
        <td>邮件地址</td>
        <td>用户类型</td>
        <td>用户状态</td>
        <td>执行操作</td>
    </tr>
    {% for user in users%}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.permission}}</td>
            <td>{{user.status}}</td>
            <td>
                <form action="{% url 'user_mgr' page%}" method="post">
                    {% csrf_token %}
                    <select name="operation">
                        <option style='display: none'></option>
                        <option value="0">删除</option>
                        <option value="1">警告</option>
                        <option value="2">冻结</option>
                    </select>
                    <input type="text" name="reason" value="" placeholder="警告理由" />
                    <input name="id" type="hidden" value="{{user.id}}" />
                    <input type="submit" value="确定" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<div style="width: 500px; margin: 0 auto; text-align: right;">
{%if 1 not in page_nums%}
        <a href="{%url 'user_mgr' 1%}">首页</a>
{%endif%}
{%for page_num in page_nums%}
    {%if page_num == page%}
        第{{page_num}}页
    {%else%}
        <a href="{%url 'user_mgr' page_num%}">第{{page_num}}页</a>
    {%endif%}
{%endfor%}
{%if num_pages not in page_nums%}
<a href="{%url 'user_mgr' num_pages%}">末页</a>
{%endif%}
</div>
{% endblock %}